.paralax{    
    position: relative;
    background-color: #000; 
    height: 85vh;   
    
    .shadow{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-image: linear-gradient(180deg,transparent,rgba(0,0,0,0.6),#000,);
        z-index: 1;
    }

    .backGround{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://andyhardy.co/assets/img/landscape_background_small.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center;        
    }
    &__data{
        position: absolute;
        z-index: 8;
        color:white;
        left: 0;
        bottom: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        P{
            font-size: 14px;
            line-height: 22px;
            font-family: 'Silka-Medium', sans-serif;
            color: rgba(255, 255, 255, 0.6);
        }
    }
}

