.SocialIcons{
        
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        &__item{
            color:white;
            cursor: pointer;
            opacity: 1;
            transition: opacity 1s linear 2s;
    
            &:hover{
                opacity: 0.4;
            }
        }
    }
    .row{
        .SocialIcons__container__item{
            margin: 10px 15px ;
        }
    }
    .column{
        flex-direction: column;
        
        .SocialIcons__container__item{
            margin: 10px 0;
        }
        
    }
}
    